- lat   = Ecto.Changeset.get_field(@changeset, :lat)
- long  = Ecto.Changeset.get_field(@changeset, :lng)
.map#map{data-latlng: "#{to_json([lat, long])}", data-markers: "#{to_json(@tour.waypoints)}"}

- form_for @changeset, @action, fn f ->
  = hidden_input f, :lat
  = hidden_input f, :lng

  .form-group
    = label f, :title, class: "control-label"
    = text_input f, :title, class: "form-control"
    = error_tag f, :title

  .form-group
    = label f, :description, class: "control-label"
    = textarea f, :description, class: "form-control", data: [autoresize: true]
    = error_tag f, :description

  .form-group
    = checkbox f, :is_published
    = label f, :is_published, "Published"

  .form-group.form-actions
    = submit "Submit", class: "btn btn-primary"
    = link "Cancel", to: @cancel_url, class: "btn btn-link"
