%h1 Waypoint

= @waypoint.title

= @waypoint.description

= @waypoint.lat
= @waypoint.long

- for photo <- @waypoint.photos do
  - url = PedalApp.Web.PhotoUploader.url({photo.file, photo}, :thumb)
  %img{src: "#{url}"}
