%h1= @waypoint.title

.waypoint

  .actions.clearfix
    = published_badge(@waypoint.is_published)
    = link "Edit", to: current_user_tour_waypoint_path(@conn, :edit, @tour, @waypoint), class: "btn btn-secondary btn-sm float-lg-right"

  #map{data-lat: "#{@waypoint.lat}", data-long: "#{@waypoint.lng}", data-markers: "#{waypoints_to_json(@tour.waypoints)}"}

  .description
    = markdown(@waypoint.description)

.photos
  - for photo <- @waypoint.photos do
    .photo
      .image
        = link "Edit", to: current_user_tour_waypoint_photo_path(@conn, :edit, @tour, @waypoint, photo), class: "btn btn-secondary btn-sm"
        - url = PedalApp.Web.PhotoUploader.url({photo.file, photo}, :large)
        %img(src: "#{url}")

      .description
        = markdown(photo.description)

  .actions.clearfix
    = link "Add Photo", to: current_user_tour_waypoint_photo_path(@conn, :new, @tour, @waypoint), class: "btn btn-primary float-lg-right"




