- form_for @conn, session_path(@conn, :create), [as: :session], fn f ->

  .form-group
    = label f, :email, class: "form-label"
    = text_input f, :email, class: "form-control"

  .form-group
    = label f, :password, class: "form-label"
    = password_input f, :password, class: "form-control"

  .form-group.form-actions
    = submit "Sign in", class: "btn btn-primary"