.heading
  %h1 Sign in

- form_for @conn, session_path(@conn, :create), [as: :session], fn f ->

  .form-group.row
    = label f, :email, class: "col-sm-4 col-form-label text-sm-right"
    .col-sm-5
      = email_input f, :email, class: "form-control"

  .form-group.row
    = label f, :password, class: "col-sm-4 col-form-label text-sm-right"
    .col-sm-5
      = password_input f, :password, class: "form-control"
      %p.form-text
        = link "Forgot password?", to: password_path(@conn, :new)


  .form-group.row
    .col-sm-5.offset-sm-4
      = submit "Sign in", class: "btn btn-primary"
      = link "Cancel", to: landing_path(@conn, :show), class: "btn btn-link"