- lat = Ecto.Changeset.get_field(@changeset, :lat)
- lng = Ecto.Changeset.get_field(@changeset, :lng)
- markers = LoadedBike.Web.WaypointView.waypoints_to_json(@conn, @tour, :private)
- geojson = Ecto.Changeset.get_field(@changeset, :geojson)
- track   = LoadedBike.Web.WaypointView.to_json(geojson)
.map#map{data-lat: "#{lat}", data-lng: "#{lng}", data-markers: "#{markers}", data-track: "#{track}"}

= hidden_input @f, :lat
= hidden_input @f, :lng

= F.text_input @f, :title

- help = render LoadedBike.Web.UserView, "_formatting_help.html"
= F.textarea @f, :description, input_opts: [data: [autoresize: true]], help: help

= F.file_input @f, :gpx_file, label: "GPX file", help: "map pin will be repositioned as per uploaded .gpx file"

- F.form_group @f, :is_planned, label: "" do
  = F.checkbox @f, :is_planned, label: "Planned Waypoint (not there yet)"

- F.form_group @f, :is_published, label: "" do
  = F.checkbox @f, :is_published, label: "Published"
