.tour-card
  .row
    .col-sm-7
      %h4
        = link @tour.title, to: tour_path(@conn, :show, @tour)
        = status_badge(@tour.status)
      .description
        = @tour.short_description
      .rider
        = LoadedBike.Web.UserView.avatar_img(@tour.user, :tiny)
        = link @tour.user.name, to: user_path(@conn, :show, @tour.user)
    .col-sm-5
      .waypoints
        - waypoints = Enum.with_index(@tour.waypoints)
        - for {wp, index} <- waypoints do
          - css_class = waypoint_css_class(@tour, index)
          = link content_tag(:span, wp.title), to: tour_waypoint_path(@conn, :show, @tour, wp), data_toggle: "tooltip", data_animation: "false", title: wp.title, class: css_class
