.heading
  published by
  = LoadedBike.Web.UserView.avatar_img(@tour.user, :tiny)
  = link @tour.user.name, to: user_path(@conn, :show, @tour.user)

- if length(@tour.waypoints) > 0 do
  - markers = LoadedBike.Web.WaypointView.waypoints_to_json(@conn, @tour, :public)
  .map#map(data-markers: "#{markers}")

.short-description
  %p= @tour.short_description

.description
  = markdown(@tour.description)



- if length(@tour.waypoints) > 0 do
  .heading
    %h1
      Waypoints
      = status_badge(@tour.status)

  .table-responsive
    %table.table.table-sm
      - for waypoint <- @tour.waypoints do
        %tr
          %td
            %strong
              Day
              = waypoint.position
          %td.main
            = link waypoint.title, to: tour_waypoint_path(@conn, :show, @tour, waypoint)
