.heading
  = status_badge(@tour.status)
  Tour published by
  = LoadedBike.Web.UserView.avatar_img(@tour.user, :tiny)
  = link @tour.user.name, to: user_path(@conn, :show, @tour.user)

- if length(@tour.waypoints) > 0 do
  - markers = LoadedBike.Web.WaypointView.waypoints_to_json(@conn, @tour, :public)
  .map#map(data-markers: "#{markers}")

.short-description
  %p= @tour.short_description

.description.markdown
  = markdown(@tour.description)

= render "_waypoints.html", assigns

= disqus(url: tour_url(@conn, :show, @tour.id), id: tour_path(@conn, :show, @tour.id))

= render LoadedBike.Web.SocialView, "share.html", assigns
