- form_for @changeset, @action, fn f ->

  .form-group
    = label f, :title, class: "control-label"
    = text_input f, :title, class: "form-control"
    = error_tag f, :title

  .form-group
    = label f, :description, class: "control-label"
    = textarea f, :description, class: "form-control", data: [autoresize: true]
    = error_tag f, :description

  .form-group
    = checkbox f, :is_published
    = label f, :is_published, "Published"

  .form-group
    = submit "Submit", class: "btn btn-primary"
