%h1= @tour.title

.actions.clearfix
  = published_badge(@tour.is_published)
  = link "Edit", to: current_user_tour_path(@conn, :edit, @tour), class: "btn btn-secondary btn-sm float-lg-right"

#map(data-markers: "#{waypoints_to_json(@waypoints)}")

.user-content
  = markdown(@tour.description)

.table-responsive
  %table.table.table-sm

    - for waypoint <- @waypoints do
      %tr
        %td
          %strong
            Day
            = waypoint.position
        %td
          = published_badge(waypoint.is_published)
        %td.main
          = link waypoint.title, to: current_user_tour_waypoint_path(@conn, :show, @tour, waypoint)
        %td
          .btn-group
            = link "Edit", to: current_user_tour_waypoint_path(@conn, :edit, @tour, waypoint), class: "btn btn-secondary btn-sm"

.actions.clearfix
  = link "Add Waypoint", to: current_user_tour_waypoint_path(@conn, :new, @tour), class: "btn btn-primary float-lg-right"