- form_for @changeset, current_user_path(@conn, :update), fn f ->

  .form-group
    = label f, :name, class: "form-label"
    = text_input f, :name, class: "form-control"
    = error_tag f, :name

  .form-group
    = label f, :email, class: "form-label"
    = text_input f, :email, class: "form-control"
    = error_tag f, :email

  .form-group
    = label f, :password, class: "form-label"
    = password_input f, :password, class: "form-control"
    = error_tag f, :password

  .form-group.form-actions
    = submit "Update Account", class: "btn btn-primary"
