.heading
  %h1 Edit Profile

- form_for @changeset, current_user_path(@conn, :update), [multipart: true], fn f ->

  = PBF.text_input f, :name
  = PBF.email_input f, :email
  = PBF.text_input f, :twitter, input: [prepend: "@"]
  = PBF.text_input f, :instagram

  - help = render LoadedBike.Web.UserView, "_formatting_help.html"
  = PBF.textarea f, :bio, input: [help: help, data: [autoresize: true]]

  - avatar = LoadedBike.Web.UserView.avatar_img(@conn.assigns.current_user, :large)
  = PBF.static f, "Current Avatar", avatar

  = PBF.file_input f, :avatar
  = PBF.password_input f, :password

  - cancel = link "Cancel", to: landing_path(@conn, :show), class: "btn btn-link"
  = PBF.submit f, "Update Profile", class: "btn-primary", alternative: cancel
