.heading
  %h1 Edit Profile

- form_for @changeset, current_user_path(@conn, :update), [multipart: true], fn f ->

  = F.text_input f, :name
  = F.email_input f, :email
  = F.text_input f, :twitter, prepend: "@"
  = F.text_input f, :instagram

  - help = render LoadedBike.Web.UserView, "_formatting_help.html"
  = F.textarea f, :bio, input_opts: [data: [autoresize: true]], help: help

  .form-group.row
    %label.col-sm-2.col-form-label.text-sm-right
      Current Avatar
    .col-sm-10
      = LoadedBike.Web.UserView.avatar_img(@conn.assigns.current_user, :large)

  = F.file_input f, :avatar
  = F.password_input f, :password

  .form-group.row
    .col-sm-10.offset-sm-2
      = submit "Update Profile", class: "btn btn-primary"
      = link "Cancel", to: landing_path(@conn, :show), class: "btn btn-link"
