.heading
  %h1 Register

- opts = [label_col: "col-sm-4", control_col: "col-sm-5"]
- form_for @changeset, current_user_path(@conn, :create), opts, fn f ->

  = F.text_input f, :name
  = F.email_input f, :email
  = F.password_input f, :password

  .form-group.row
    .col-sm-5.offset-sm-4
      = submit "Create Account", class: "btn btn-primary"
      = link "Cancel", to: landing_path(@conn, :show), class: "btn btn-link"
