.heading
  Tours published by
  = LoadedBike.Web.UserView.avatar_img(@user, :tiny)
  = @user.name

.tours
  - for tour <- @user.tours do
    .tour
      .heading
        - path = tour_path(@conn, :show, tour)
        = link tour.title, to: path
        = link "View", to: path, class: "btn btn-sm btn-secondary"

      .map{data-map: "true", data-markers: "#{LoadedBike.Web.WaypointView.waypoints_to_json(@conn, tour, :private)}"}

      .description
        = markdown(tour.description)
