.heading.user-info
  .avatar
    = LoadedBike.Web.UserView.avatar_img(@user, :large)
  .info
    .name
      = @user.name
    - if @user.bio do
      .bio.markdown
        = markdown(@user.bio)

    - if @user.twitter do
      .twitter
        %i.fa.fa-twitter
        = link @user.twitter, to: "https://twitter.com/#{@user.twitter}", target: "_blank"

    - if @user.instagram do
      .instagram
        %i.fa.fa-instagram
        = link @user.instagram, to: "https://instagram.com/#{@user.instagram}", target: "_blank"

.tours
  - for tour <- @user.tours do
    .tour
      .heading
        - path = tour_path(@conn, :show, tour)
        = link tour.title, to: path
        = link "View", to: path, class: "btn btn-sm btn-secondary"

      - if length(tour.waypoints) > 0 do
        .map{data-map: "true", data-markers: "#{LoadedBike.Web.WaypointView.waypoints_to_json(@conn, tour, :public)}"}

      .description.markdown
        = markdown(tour.description)
