!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    %title Hello PedalApp!

    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    %link(rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css")

    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')

  - page_id = page_identifier(@conn)
  %body(class="#{Macro.underscore(page_id)}" data-page-identifier="#{page_id}")

    %nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse
      .container
        %button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarSupportedContent")
          %span.navbar-toggler-icon
        %a.navbar-brand(href="#") Loaded.bike

        .collapse.navbar-collapse#navbarSupportedContent
          %ul.navbar-nav.mr-auto
            - if @current_user do
              %li.nav-item
                = link "Sign out", to: session_path(@conn, :delete), method: :delete, class: "nav-link"
            - else
              %li.nav-item
                = link "Register", to: current_user_path(@conn, :new), class: "nav-link"
              %li.nav-item
                = link "Sign in", to: session_path(@conn, :new), class: "nav-link"

    .container
      = flash_alert(@conn)

      %main(role="main")
        = render @view_module, @view_template, assigns


    %script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
    %script(src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js")

    %script(src='#{static_path(@conn, "/js/app.js")}')
