!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    %title Hello PedalApp!

    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    %link(rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css")

    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')

  - page_id = page_identifier(@conn)
  %body(class: "#{Macro.underscore(page_id)}" data-page-identifier: "#{page_id}")
    .container
      %header.header
        %nav(role="navigation")
          %ul.nav.nav-pills.pull-right
            - if @current_user do
              %li
                = link "Sign out", to: session_path(@conn, :delete), method: :delete
            - else
              %li
                = link "Register", to: current_user_path(@conn, :new)
              %li
                = link "Sign in", to: session_path(@conn, :new)
        %span.logo

      %p.alert.alert-info(role="alert")= get_flash(@conn, :info)
      %p.alert.alert-danger(role="alert")= get_flash(@conn, :error)

      %main(role="main")
        = render @view_module, @view_template, assigns


    %script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
    %script(src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js")

    %script(src='#{static_path(@conn, "/js/app.js")}')
