!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    %title loaded.bike

    %link(rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css")
    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')

  - page_id = page_identifier(@conn)
  %body(class="#{Macro.underscore(page_id)}" data-page-identifier="#{page_id}")

    %nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse
      .container
        %button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarSupportedContent")
          %span.navbar-toggler-icon
        %a.navbar-brand(href="#{landing_path(@conn, :show)}")
          = img_tag static_path(@conn, "/images/logo-bike.png"), width: "66px", height: "40px", class: "d-inline-block"
          loaded.bike

        .collapse.navbar-collapse#navbarSupportedContent
          %ul.navbar-nav.mr-auto
            - if @current_user do
              %li.nav-item
                = link "My Tours", to: current_user_tour_path(@conn, :index), class: "nav-link"
              %li.nav-item
                = link "Sign out", to: session_path(@conn, :delete), method: :delete, class: "nav-link"
            - else
              %li.nav-item
                = link "Register", to: current_user_path(@conn, :new), class: "nav-link"
              %li.nav-item
                = link "Sign in", to: session_path(@conn, :new), class: "nav-link"

    .container.content
      - if assigns[:breadcrumb_trails] do
        = render LoadedBike.Web.BreadcrumbView, "breadcrumb.html", assigns

      = flash_alert(@conn)

      %main(role="main")
        = render @view_module, @view_template, assigns

    %footer.text-muted
      .container
        Footer content

    %script(src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js")

    %script(src='#{static_path(@conn, "/js/app.js")}')
