!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    %title loaded.bike

    %link(rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css")
    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')

  - page_id = page_identifier(@conn)
  %body(class="#{Macro.underscore(page_id)}" data-page-identifier="#{page_id}")

    %nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse
      .container
        %button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarSupportedContent")
          %span.navbar-toggler-icon
        %a.navbar-brand(href="#{landing_path(@conn, :show)}")
          = img_tag static_path(@conn, "/images/logo-bike.png"), width: "41px", height: "25px", class: "d-inline-block"
          loaded.bike

        .collapse.navbar-collapse#navbarSupportedContent
          %ul.navbar-nav.mr-auto
            %li.nav-item
              = link "Home", to: landing_path(@conn, :show), class: "nav-link"
            - if @current_user do
              %li.nav-item
                = link "My Tours", to: current_user_tour_path(@conn, :index), class: "nav-link"


          %ul.navbar-nav.ml-auto
            - if @current_user do

              %li.nav-item.with-dropdown
                .dropdown
                  %button.btn.btn-default.btn-sm.btn-nav.dropdown-toggle(data-toggle="dropdown")
                    = LoadedBike.Web.UserView.avatar_img(@current_user, :small)
                  .dropdown-menu.dropdown-menu-right
                    .dropdown-header
                      Signed in as
                      = @current_user.name
                    .dropdown-divider
                    = link "Edit Profile", to: current_user_path(@conn, :edit), class: "dropdown-item"
                    = link "Sign out", to: session_path(@conn, :delete), method: :delete, class: "dropdown-item no-bootstrap"

              %li.nav-item.without-dropdown
                = link "Edit Profile", to: current_user_path(@conn, :edit), class: "nav-link"
              %li.nav-item.without-dropdown
                = link "Sign out", to: session_path(@conn, :delete), method: :delete, class: "nav-link no-bootstrap"

            - else
              %li.nav-item
                = link "Register", to: current_user_path(@conn, :new), class: "nav-link"
              %li.nav-item
                = link "Sign in", to: session_path(@conn, :new), class: "nav-link"

    .container.content
      = flash_alert(@conn)

      - if assigns[:breadcrumb_trails] do
        = render LoadedBike.Web.BreadcrumbView, "breadcrumb.html", assigns

      %main(role="main")
        = render @view_module, @view_template, assigns

    %footer.text-muted
      .container
        .row
          .col-sm-6
            %h6 About
            %p Goal of loaded.bike is to help you to plan your next bicyle touring adventure. Explore routes and contribute your own.

          .col-sm-6
            %h6 Contact
            %ul
              %li
                Email:
                = link "oleg@loaded.bike", to: "mailto://oleg@loaded.bike"
              %li
                Experiencing problems with the site?
                = link "Submit an issue", to: "https://github.com/GBH/loaded.bike/issues"
              %li
                Want to add a feature or fix a bug?
                = link "fork me Github", to: "https://github.com/GBH/loaded.bike"

    %script(src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js")
    %script(src='#{static_path(@conn, "/js/app.js")}')
