= PBF.text_input @f, :title
= PBF.text_input @f, :short_description, label: [text: "Short Desc"]

- help = render LoadedBike.Web.UserView, "_formatting_help.html"
= PBF.textarea @f, :description, input: [help: help, data: [autoresize: true]]

- options = %{"Planned" => "planned", "Currently on the road" => "active", "It's Finished" => "completed"}
= PBF.radio_button @f, :status, options

= PBF.checkbox @f, :is_published, label: [text: "Published"]
