.form-group.row
  = label @f, :title, class: "col-sm-2 col-form-label text-sm-right"
  .col-sm-10
    = text_input @f, :title, class: "form-control"
    = error_tag @f, :title

.form-group.row
  = label @f, :short_description, class: "col-sm-2 col-form-label text-sm-right"
  .col-sm-10
    = text_input @f, :short_description, class: "form-control"
    = error_tag @f, :short_description

.form-group.row
  = label @f, :description, class: "col-sm-2 col-form-label text-sm-right"
  .col-sm-10
    = textarea @f, :description, class: "form-control", data: [autoresize: true]
    = error_tag @f, :description

    = render LoadedBike.Web.UserView, "_formatting_help.html"

.form-group.row
  .col-sm-10.offset-sm-2
    = checkbox @f, :is_published
    = label @f, :is_published, "Published"
