.heading
  = link "Create New Tour", to: current_user_tour_path(@conn, :new), class: "btn btn-sm btn-success pull-right"
  %h1 My Tours

.tours
  - for tour <- @tours do
    .tour
      .heading
        - path = current_user_tour_path(@conn, :show, tour)
        = link tour.title, to: path
        = LoadedBike.Web.TourView.completed_badge(tour.is_completed)
        = link "View", to: path, class: "btn btn-sm btn-secondary"

      .map{data-map: "true", data-markers: "#{LoadedBike.Web.WaypointView.waypoints_to_json(@conn, :private, tour.waypoints)}"}

      .description
        = markdown(tour.description)
