.heading
  = link to: current_user_tour_path(@conn, :new), class: "btn btn-sm btn-success pull-right" do
    %i.fa.fa-plus
    Create New Tour
  - end
  %h1 My Tours

.tours
  - for tour <- @tours do
    .tour
      .heading
        - path = current_user_tour_path(@conn, :show, tour)
        = link tour.title, to: path
        = LoadedBike.Web.TourView.completed_badge(tour.is_completed)
        = link "View", to: path, class: "btn btn-sm btn-secondary"

      - markers = LoadedBike.Web.WaypointView.waypoints_to_json(@conn, tour, :private)
      .map{data-map: "true", data-markers: "#{markers}"}

      .description
        = markdown(tour.description)
