.actions.clearfix
  = published_badge(@tour.is_published)
  = LoadedBike.Web.TourView.completed_badge(@tour.is_completed)
  = link "Edit", to: current_user_tour_path(@conn, :edit, @tour), class: "btn btn-secondary btn-sm pull-right"

.map#map(data-markers: "#{LoadedBike.Web.WaypointView.waypoints_to_json(@conn, :private, @waypoints)}")

.short-description
  = @tour.short_description

.description
  = markdown(@tour.description)

.heading
  = link "Add Waypoint", to: current_user_tour_waypoint_path(@conn, :new, @tour), class: "btn btn-sm btn-success"
  %h1 Waypoints

.table-responsive
  %table.table.table-sm

    - for waypoint <- @waypoints do
      %tr
        %td
          %strong
            Day
            = waypoint.position
        %td
          = published_badge(waypoint.is_published)
        %td.main
          = link waypoint.title, to: current_user_tour_waypoint_path(@conn, :show, @tour, waypoint)
        %td
          .btn-group
            = link "Edit", to: current_user_tour_waypoint_path(@conn, :edit, @tour, waypoint), class: "btn btn-secondary btn-sm"
