.actions.clearfix
  = published_badge(@tour.is_published)
  = LoadedBike.Web.TourView.completed_badge(@tour.is_completed)
  - link to: current_user_tour_path(@conn, :edit, @tour), class: "btn btn-secondary btn-sm pull-right" do
    %i.fa.fa-pencil
    Edit

- markers = LoadedBike.Web.WaypointView.waypoints_to_json(@conn, @tour, :private)
.map#map(data-markers: "#{markers}")

.short-description
  = @tour.short_description

.description
  = markdown(@tour.description)

.heading
  - link to: current_user_tour_waypoint_path(@conn, :new, @tour), class: "btn btn-sm btn-success" do
    %i.fa.fa-plus
    Add Waypoint
  %h1 Waypoints

.table-responsive
  %table.table.table-sm

    - for waypoint <- @waypoints do
      %tr
        %td
          %strong
            Day
            = waypoint.position
        %td
          = published_badge(waypoint.is_published)
        %td.main
          = link waypoint.title, to: current_user_tour_waypoint_path(@conn, :show, @tour, waypoint)
        %td
          .btn-group
            - link to: current_user_tour_waypoint_path(@conn, :edit, @tour, waypoint), class: "btn btn-secondary btn-sm" do
              %i.fa.fa-pencil
              Edit
